
body{
	margin:0px;
	background-color:#000;
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

@media (min-width: 1281px){
	 /* For Laptop, Deskop: */
	 
.titleimage{
	position:absolute;
	top:2.5%;
	left:41.5%;
}
.content img{
	 	margin-right:7%;
		margin-left:75;
	}
	.content span{
		margin-left:75;
	}
	
.gitform{
	
}
.gitform input[type=text]{
	
	font-size:24px;
	width:38%;
	
}
.gitform input[type=email]{

	font-size:24px;
	width:38%;
	
}
.gitform textarea{
	font-size:18px;
	
}
}

@media only screen and (max-width:800px) {
  /* For tablets: */

 
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
   .topnav{
	 visibility:hidden;
  }
  .titleimage{
	  position:absolute;
	top:2.5%;
	left:25%;
  }
    .content img{
		width:90%;
		margin-left:5%;
		margin-right:5%;
		margin-bottom:5%;
	}
	.content span{
		margin-left:10;
	}
	.gallery{
		visibility:hidden;
		display:none;
	}
	
.gitform{
	
}
.gitform input[type=text]{
	
	font-size:18px;
	width:38%;
	
}
.gitform input[type=email]{

	font-size:18px;
	width:38%;
	
}
.gitform textarea{
	font-size:18px;
	
}
	

}

.topnav{
	
}
.topnav a{
	color:#FFF;
	text-decoration:none;
	margin:0px 20px;
}

.button-w-b{
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	border:1px solid white;
	border-radius:10px;
	background-color:transparent;
	color:#FFF;
	font-size:28px;
	padding:5px 15px;
	margin:0px 2px;
	text-decoration:none;
	
}

.ctable{
	margin-top:75;
}
.ctable td{
	width:33%;
}

.ctable img{
	
}
.ctable a{
	text-decoration:none;
}

.gitform input[type=text]{
	background-color:transparent;
	border:none;
	border-bottom:1px solid #000;
	outline:none;
	color:#CCC;

}
.gitform input[type=email]{
	background-color:transparent;
	border:none;
	border-bottom:1px solid #666;
	outline:none;
	color:#CCC;
	
}
.gitform textarea{
	background-color:transparent;
    border:1px solid #666;
	outline:none;
	color:#CCC;
	
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  
}


.arrow-down-black {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  
  border-top: 25px solid #000;
}
.arrow-down-white {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  
  border-top: 25px solid #FFF;
  
}
.arrow-down-gray {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  
  border-top: 25px solid #CCC;
  
}

.galleryimage{
	background-position:0% 0%;
	background-size:100% 100%;
	
}
.galleryimage:hover{
	background-position:10% 10%;
	background-size:110% 110%;
	transition:.3s;
}


