
body{
	margin:0px;
	background-color:#000;
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.topnav{
	
}
.topnav a{
	color:#FFF;
	text-decoration:none;
	margin:0px 20px;
}

.button-w-b{
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	border:1px solid white;
	border-radius:10px;
	background-color:transparent;
	color:#FFF;
	font-size:24px;
	padding:5px 15px;
	margin:0px 2px;
	
}
